.page {
  padding: 8rem 2rem 4rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.steps {
  margin: 2rem 0 0;
  padding-left: 1.25rem;
}

.steps li {
  margin: 0 0 1.5rem;
}

.steps h3 {
  margin: 0 0 0.25rem;
}

